<section class='calculations'>
  <h3 class='divider'><span>{{doc.calcHed}}</span></h3>

  {{#each doc.calculationIntro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='calculations__scroll'>
    <figure class='calculations__container'>
      <img src='assets/images/covers500/202_06_2012.jpg' class='calculations__container-cover'>

      <div class='calculations__container-faces'>
        <div class='face-0'>
          <img class='face-full face-0-full' src='assets/images/faces200/202_06_2012_0.jpg'>
          <img class='face-crop face-0-crop' src='assets/images/calculations/0face.png'>
          <img class='face-skin face-0-skin' src='assets/images/calculations/0skin.jpg'>
        </div>
        <div class='face-1'>
          <img class='face-full face-1-full' src='assets/images/faces200/202_06_2012_1.jpg'>
          <img class='face-crop face-1-crop' src='assets/images/calculations/1face.png'>
          <img class='face-skin face-1-skin' src='assets/images/calculations/1skin.jpg'>
        </div>
      </div>
    </figure>

    <div class='scroll-text'>
      {{#each doc.calcSteps}}
        <div class='step' data-step='{{{step}}}' id='step-{{{step}}}'>
          <div class='step-text-container'>
            <p class='step-prose'>{{{text}}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</section>
