<div class='intro'>
	<div class='intro__covers'>
		<div class='intro__hed'>
			<h1 class='intro__hed-text intro__hed-1'>{{doc.title1}}</h1>
			<div class='intro__hed-line'>
				<h1 class='intro__hed-text intro__hed-2'>{{doc.title2}}</h1>
				<h1 class='intro__hed-text intro__hed-3'>{{doc.title3}}</h1>
			</div>
			<h1 class='intro__hed-text intro__hed-4'>{{doc.title4}}</h1>
		</div>
	</div>
	<p class='intro__dek'>{{doc.dek}}</p>
	<p class='intro__byline'>By
		<a href='{{doc.author1URL}}' target='_blank'>
			<strong>{{doc.author1}}</strong>
		</a>
	</p>
	<p class='intro__withline'>with
		<a href='{{doc.with1URL}}' target='_blank'>{{doc.with1}}</a>
		&
		<a href='{{doc.with2URL}}' target='_blank'>{{doc.with2}}</a>
	</p>

	<time class='intro__time'>March 2019</time>

	{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>
