<section class='repeat'>

  <h3 class='divider'><span>{{doc.repeatHed}}</span></h3>

  {{#each doc.repeat}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='rihannaBox'>
    {{#each doc.rihannaImg}}
      <div class='rihannaBox-group'>
        <div class='img-container'>
          <img src='assets/images/covers500/{{file}}'>
        </div>
        <div class='rihannaBox-tone rihannaBox-tone{{@index}}'></div>
        <p class='rihannaBox-year rihannaBox-year{{@index}}'>{{year}}</p>
      </div>
    {{/each}}
  </div>

  {{#each doc.repeatPostRih}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='repeat-models-img'>
    <div class='repeat-models-container'></div>
    <div class='repeat-models-legend'>
      <div class='legend-container'>
        <span>@@include('chevron-left.svg') Darker Shades</span>
        <span>Lighter Shades @@include('chevron-right.svg')</span>
      </div>
    </div>
  </figure>
  <figure class='repeat-models'></figure>
  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>
</section>
