<section class='repeat'>

  <h3 class='divider'><span>{{doc.repeatHed}}</span></h3>

  {{#each doc.repeat}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <div class='rihannaBox'>
    {{#each doc.rihannaImg}}
      <div class='rihannaBox-group'>
        <div class='img-container'>
          <img src='/assets/images/covers500/{{file}}'>
        </div>
        <div class='rihannaBox-tone rihannaBox-tone{{@index}}'></div>
      </div>
    {{/each}}
  </div>

  {{#each doc.repeatPostRih}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='repeat-models-img'>
  </figure>
  <figure class='repeat-models'></figure>
  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>
</section>
